// Menu styles are put in their own top-level SCSS file
// so that they can be compiled straight to CSS for the
// homepage, and @imported into _nigeria_overrides.scss
// for the rest of the site.

// The homepage needs the styles from core/menu, which
// itself needs all the mixins and variables from core.
// So we have to import the lot, even if that means the
// files are imported twice when this file is @imported
// into _nigeria_overrides.scss :-(
@import 'core/core';
@import 'core/colours_default';
@import 'colours_nigeria';
@import 'core/menu';

#main-menu {
  background: mix(#000, $colour_mint_green, 10%);
  border-bottom: 1px solid mix(#000, $colour_mint_green, 25%);

  nav {
    position:relative;
    z-index:2;
    text-align: right;

    ul {
      li {
        border-right: 2px solid transparent;

         a {
          color: black;
          background: transparent;

          &:hover {
            background: #fff;
          }
        }

        &:hover > a {
          background: #fff;
        }
      }
    }

    ul li:hover ul li a {
      background-color: #fff;
    }
  }
}
