<div class="site-footer">
  <div class="container">
    <div class="row">
      <div class="site-footer__primary">
        <h3>About Shine Your Eye</h3>
        <p>Shine your Eye is an initiative of <a href="http://eie.ng" target="_blank" title="EiE Nigeria">Enough is Enough Nigeria (EiENigeria)</a>  with support from <a href="http://www.placng.org/" target="_blank" title="PLAC NG">Policy and Legal Advocacy Center</a>.</p>
        <p>Shine Your Eye lets you follow the activities of elected officials, connect with them and share your concerns. You can view profiles of elected officials that include such information as educational background, experience, legislative interests, phone numbers and email addresses.</p>
        <p>Our goal is to increase accountability in governance by making it easier for Nigerians to follow the activities of elected officials and connect with them. Curating the activities of elected officials also makes it easier to review track records at election time.</p>
      </div>
      <div class="site-footer__secondary">
        <h3>Quick Links</h3>
        <ul>
          <li><a class="btn btn-primary" href="/search/">Find your Representative</a></li>
          <li><a class="btn btn-default" href="/blog/">Latest News</a></li>
          <li><a class="btn btn-default" href="/info/democracy-resources">Democractic Resources</a></li>
          <li><a class="btn btn-default" href="/info/elections">Elections</a></li>
          <li><a class="btn btn-default" href="/events/">Events</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/javascripts/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
<script src="/javascripts/bootstrap/bootstrap.min.js"></script>
<script>
  (function() {
    var cx = '009849292720701569670:dnm2ccnvkai';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<%= yield_content :footer_extra_js %>
