<div class="site-header">
  <div class="container">

    <form class="site-header__search" action="http://sye-pu-lookup-frontend.herokuapp.com/lookup" method="post">
      <label for="site-search">
        <strong>Find your representative</strong>
        <span>Enter your Polling Unit (PU) number</span>
      </label>
      <p>
        <span class="input-group">
          <input name="pu-number" id="site-search" type="search" class="form-control" placeholder="e.g. 1:1:1">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-search" aria-label="Search"></i></button>
          </span>
        </span>
      </p>
    </form>

  </div>
</div>
