<div id="main-menu">
  <nav class="wrapper container">
    <ul>



      <li><a href="/">Home</a></li>


      <li><a href="/info/democracy-resources">Democracy Resources</a></li>

      <li><a href="/info/elections">Elections</a>

        <ul id="elections">
          <li>
            <a href="/info/inec-2014-voter-registration-and-pvc-distribution">Voting Information</a>
          </li>
        </ul>

      </li>

      <li><a href="/info/government-officials">Government Officials</a>

        <ul id="government-officials">
          <li>
            <a href="/position/senator/">Senators</a>
          </li>
          <li>
            <a href="/position/representative/">Representatives</a>
          </li>

          <li>
            <a href="/position/executive-governor/">Governors</a>
          </li>

          <!-- Hide these for now as we don't have the necessary info in EveryPolitician -->
          <!-- <li>
            <a href="/position/state-legislator/">State Legislators</a>
          </li> -->

        </ul>

      </li>


      <li><a href="/info/places-overview">Places</a></li>


      <li><a href="/info/events">Events</a></li>


      <li><a href="/blog/">Blog</a></li>


      <li><a href="/info/about">About</a></li>


    </ul>
  </nav>
</div>
