<div class="blog-post">

  <h1 class="page-title"><%= @page.title %></h1>

  <p class="meta"><%= @page.date %></p>

  <div class="markdown infopage">
    <%= @page.body %>
  </div>

</div>

<%= erb :_comments %>
