<!DOCTYPE html>
<head>
  <meta http-equiv="Refresh" content="0; url=<%= @redirect_to %>">
  <title>Redirecting to <%= @redirect_to %></title>
</head>
<body>
  If this page doesn't automatically redirect, then you
  can <a href="<%= @redirect_to %>">follow this link</a> to the
  new location.
</body>
