<form class="search-form" action="http://sye-pu-lookup-frontend.herokuapp.com/lookup" method="post">
    <h1>Find your representative</h1>
    <label for="search-input">Enter your Polling Unit (PU) number</label>
    <p class="input-group">
        <input name="pu-number" id="search-input" type="search" class="form-control input-lg" placeholder="e.g. 1:1:1">
        <span class="input-group-btn">
            <button class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-search"></i> Search</button>
        </span>
    </p>
</form>
