a {
    text-decoration: underline;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    padding: 9px 24px;
}

.btn-link {
    text-decoration: underline;
}
