a {
    text-decoration: underline;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    padding: 9px 24px;
}

.btn-link {
    text-decoration: underline;
}

.btn-facebook {
    @include button-variant(#fff, $color-facebook-blue, darken($color-facebook-blue, 5%));
}

.btn-twitter {
    @include button-variant(#fff, $color-twitter-blue, darken($color-twitter-blue, 5%));
}
