.homepage__hero {
    h1 {
        font-size: 24px;
        line-height: 1.4;
        font-weight: 300;
        margin-bottom: 0.5em;

        @media (min-width: $screen-lg-min) {
            font-size: 28px;
        }
    }

    .btn-primary {
        font-size: 16px;
    }
}

.homepage__hero__secondary {
    text-align: center;
}

.homepage__reps {
    background-color: $color-mint-green;
    text-align: center;

    h2 {
        margin-bottom: 0;
        font-size: $font-size-h3;
    }
}

.homepage__reps__rep {
    margin-top: 2em;

    img {
        max-width: 100%;
        height: 210px;
        margin-bottom: 1em;
    }
}

.homepage__quote {
    background-color: $color-mint-green;

    h1 {
        margin-top: 0;

        @media (min-width: $screen-sm-min) {
            margin-bottom: 0;
        }

        @media (min-width: $screen-lg-min) {
            margin-top: 0.3em;
        }
    }

    p {
        margin: 0;
    }
}

.polldaddy {
    width: 300px; // This is the width defined by PollDaddy-generated `.pds-box` element
    margin: auto;
}
