.page-section {
    padding-top: 2em;
    padding-bottom: 2em;

    @media (min-height: 700px) {
        padding-top: 3em;
        padding-bottom: 3em;
    }

    @media (min-height: 800px) {
        padding-top: 4em;
        padding-bottom: 4em;
    }
}
