.people-accordion {
    margin-top: 1.5em;

    .ui-accordion-header {
        font-size: 1.5em;
    }

    .ui-accordion-icons {
        padding-left: 1.7em;
    }

    .ui-accordion-content {
        padding-top: 0;
        padding-bottom: 0;
    }
}
