.people-accordion {
    margin-top: 1.5em;

    .ui-accordion-header {
        font-size: 1.5em;
    }

    .ui-accordion-icons {
        padding-left: 1.7em;
    }

    .ui-accordion-content {
        padding: 0 1em;

        @media (min-width: $screen-md-min) {
            padding: 1em;
        }
    }
}

.principal-people-accordion {
    padding-top: 1.5em;
}

.unstyled-list, .grid-list {
    list-style: none outside none;
    margin-left: 0;
    padding-left: 0;
}
.unstyled-list ul.unstyled-list, .grid-list ul.unstyled-list, .unstyled-list ul.grid-list, .grid-list ul.grid-list {
    margin-left: 1.5em;
}
.grid-list {
    margin: 0 -1em;
}
.grid-list > * {
    padding: 1em;
    width: 100%;
}
.grid-list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-box-wrap: wrap;
    -webkit-box-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
@media (min-width: 44em) {
    .grid-list > * {
        width: 50%;
   }
}
@media (min-width: 66em) {
    .grid-list > * {
        width: 33.3333333333%;
   }
}
.grid-list--vertically-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 66em) {
    .grid-list--narrow-columns > * {
        width: 25%;
   }
}
.avatar-unit {
    display: block;
    color: inherit;
    position: relative;
    padding: 0 0 0 3em;
}
.avatar-unit > * {
    margin: 0;
    line-height: 1.2em;
}
.avatar-unit .avatar {
    display: block;
    height: 2em;
    width: 2em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1em;
    background: #01BFA9;
    border-radius: 1em;
}
.avatar-unit .avatar .glyphicon {
    line-height: 2em;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.avatar-unit h3 {
    font-weight: 500;
}
.avatar-unit h3 + p {
    margin-bottom: 0.2em;
}
.avatar-unit p {
    opacity: 0.5;
}
.party-groupings__title {
    font-size: 0.875em;
    margin-bottom: 1.5em;
}
@media (min-width: 44em) {
    .party-groupings__title {
        text-align: center;
   }
}
.party-groupings__title h2, .party-groupings__title .site-content h1, .site-content .party-groupings__title h1 {
    margin-bottom: 0;
}
