.search-form {
    max-width: 30em;
    margin: 3em auto;

    @media (min-height: 700px) {
        margin: 5em auto;
    }

    label {
        margin: 1em 0;
    }

    .btn {
        .glyphicon {
            margin-right: 0.3em;
        }
    }
}
