body {
    background-color: $site-footer-background-color;
}

#page {
    background-color: #fff;
}

.site-footer {
    @extend .page-section;

    background-color: $site-footer-background-color;
    color: $site-footer-text-color;

    h3 {
        margin-bottom: 1em;

        @media (min-width: $screen-sm-min) {
            margin-top: 0;
        }
    }

    .btn-default {
        color: inherit;
        border-color: mix($site-footer-background-color, $site-footer-text-color, 70%);
        background-color: transparent;

        &:focus,
        &.focus,
        &:hover,
        &:active,
        &.active {
            background-color: mix($site-footer-background-color, $site-footer-text-color, 95%);
            border-color: mix($site-footer-background-color, $site-footer-text-color, 50%);
        }
    }
}

.site-footer__primary {
    @extend .col-sm-7;

    h3 {
        margin-top: 0;
    }
}

.site-footer__secondary {
    @extend .col-sm-4;
    @extend .col-sm-push-1;
    @extend .col-md-3;
    @extend .col-md-push-2;

    ul {
        @extend .list-unstyled;

        li + li {
            margin-top: 0.5em;
        }
    }
}
