body {
    background-color: $site-footer-background-color;
}

#page {
    background-color: #fff;
}

.site-footer {
    @extend .page-section;

    background-color: $site-footer-background-color;
    color: $site-footer-text-color;

    h3 {
        margin-top: 0;
    }

    .btn-default {
        color: inherit;
        border-color: mix($site-footer-background-color, $site-footer-text-color, 70%);
        background-color: transparent;

        &:focus,
        &.focus,
        &:hover,
        &:active,
        &.active {
            background-color: mix($site-footer-background-color, $site-footer-text-color, 95%);
            border-color: mix($site-footer-background-color, $site-footer-text-color, 50%);
        }
    }
}

.site-footer__secondary {
    ul {
        margin-top: 1.5em;

        // Replicate .list-inline because bootstrap-sass doesn't expose it
        // as a mixin, and we don't want to @extend it and get selector bloat.
        @media (min-width: $screen-sm-min) {
            margin-left: -5px;

            & > li {
                display: inline-block;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }

    li {
        margin-bottom: 0.5em;
    }
}
