body {
    background-color: $site-footer-background-color;
}

#page {
    background-color: #fff;
}

.site-footer {
    @extend .page-section;

    background-color: $site-footer-background-color;
    color: $site-footer-text-color;

    h3 {
        margin-top: 0;
    }

    .btn-default {
        color: inherit;
        border-color: mix($site-footer-background-color, $site-footer-text-color, 70%);
        background-color: transparent;

        &:focus,
        &.focus,
        &:hover,
        &:active,
        &.active {
            background-color: mix($site-footer-background-color, $site-footer-text-color, 95%);
            border-color: mix($site-footer-background-color, $site-footer-text-color, 50%);
        }
    }

    a {
        text-decoration: none;
    }

    a[href*="twitter.com"],
    a[href^="mailto:"] {
        &:before {
            display: inline-block;
            content: "";
            margin-right: 0.5em;
            vertical-align: -0.2em;
            width: 20px;
            height: 16px;
            background-color: transparent;
            background-size: 20px 16px;
        }
    }

    a[href*="twitter.com"] {
        &:before {
            @include high-dpi-background-image('../images/twitter-icon');
            margin-right: 0.3em;
        }
    }

    a[href^="mailto:"] {
        &:before {
            @include high-dpi-background-image('../images/email-icon');
        }
    }
}

.site-footer__secondary {
    ul {
        margin-top: 1.5em;
    }

    li {
        margin-bottom: 0.5em;
    }
}
