.site-header {
    @include clearfix();

    background-color: $site-header-background-color;
    padding-top: 1em;
    padding-bottom: 1em;
}

//.page--homepage {
//    .site-header {
//        display: none;
//    }
//}

.site-header__search {
    font-size: 14px;

    label {
        font-weight: inherit;

        & > * {
            display: block;
        }

        & > span {
            font-size: 12px;
        }
    }

    p {
        margin-bottom: 0;
        max-width: 14em;
    }

    .btn {
        padding-left: 16px;
        padding-right: 16px;
    }

    @media (min-width: $grid-float-breakpoint) {
        float: right;

        & > * {
            display: inline-block;
            vertical-align: middle;
        }

        label {
            text-align: right;
            margin: 0 1em 0 0;
        }
    }
}

.site-body__search-container {
  max-width: 30em;
  margin: auto;
}
